/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body {
   color: black;
   height: 100%;
   width: 100%;
   margin: 0px;
   padding: 0px;
   color: black;
   /*background-image: url('tabletop.jpg');*/
   background-size: cover;
   text-align: center;
 }

 .snapstream {
   display: inline-block;
   width: 341px;
 }

 .snap {
   position: relative;
   width: 340px;
   height: 380px;
 }

.navi {
  color: black;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 3;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.3);
}

.navi:hover {
  height: 150px;
  transition: 0.2s;
}

 .snap .snap_body{
   clip: rect(0px,280px,280px,0px);
   position: absolute;
   right: 30px;
   top: 15px;
   width: 280px;
 }

 .snap .snap_frame{
   z-index: 1;
   position: absolute;
   right: 10px;
   top: 0px;
   transform: rotate(1deg);
   width: 320px;
 }

 .snap .snap_comment{
   color: #172233;
   font-family: Chalkduster, fantasy;
   font-size: 15px;
   position: absolute;
   text-align: left;
   top: 300px;
   right: 45px;
   width: 250px;
   height: 55px;

   color: black;
   z-index: 2;

 }

 .snap:hover{
   transition: 0.2s;
   transform: rotate(-2deg);
 }
